<ul class="nav justify-content-end bg-light">
  <!-- <li class="nav-item">
      <a class="nav-link active" aria-current="page" [routerLink] = "['/admin']">Manage</a>
    </li> -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
  </li>
</ul>

<!-- <div class="container">
  <div>{{ data.key }}</div>
  <h3>{{ data.url }}</h3>
  <p>{{ data.detail }}</p>
</div> -->

<router-outlet></router-outlet>
